# Dependency folders - these are huge and should not be on Git
node_modules/
backend/node_modules/

# Database - keeps your local test data private
backend/db/database.sqlite
*.sqlite

# Environment/Secrets
.env

# OS-specific files
.DS_Store
Thumbs.db
# Ignore all images
*.png
*.jpg
*.jpeg

# Or ignore specific files
image-1.png
image-2.png
image-3.png
image.png

node_modules/
.env
database.sqlite
*.sqlite-journal